@model ECOVAX.Models.DashboardModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>Quản trị - Cổng tiêm chủng ECOVAX</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/image/logo.png" />
    <!-- Main CSS-->
    <link href="~/Content/dashboard/css/main.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link href="~/Content/fontawesome-pro-5.13.0-web/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/loading-screen.css" rel="stylesheet" />
    <!-- Essential javascripts for application to work-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="/">
            <img src="~/Content/image/logo.png" class="brand-logo" />ECOVAX
        </a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">
                <input class="app-search__input" type="search" placeholder="Search">
                <button class="app-search__button"><i class="fa fa-search"></i></button>
            </li>
            <!--Notification Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                <ul class="app-notification dropdown-menu dropdown-menu-right">
                    <li class="app-notification__title">You have 4 new notifications.</li>
                    <div class="app-notification__content">
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Lisa sent you a mail</p>
                                <p class="app-notification__meta">2 min ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Mail server not working</p>
                                <p class="app-notification__meta">5 min ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Transaction complete</p>
                                <p class="app-notification__meta">2 days ago</p>
                            </div>
                        </a>
                    </li>
                    <div class="app-notification__content">
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Lisa sent you a mail</p>
                                <p class="app-notification__meta">2 min ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Mail server not working</p>
                                <p class="app-notification__meta">5 min ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="app-notification__item" href="javascript:;">
                            <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                            <div>
                                <p class="app-notification__message">Transaction complete</p>
                                <p class="app-notification__meta">2 days ago</p>
                            </div>
                        </a>
                    </li>
                    </div>
                    </div>
                    <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
                </ul>
            </li>
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Cài đặt</a></li>
                    <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <!-- Sidebar menu-->
    <aside class="app-sidebar">
        <ul class="app-menu">
            <li><a class="app-menu__item" href="/Dashboard" id="Index"><i class="app-menu__icon fal fa-server"></i><span class="app-menu__label">Tổng quan</span></a></li>
            <li><a class="app-menu__item PheDuyetGDK" href="/Dashboard/PheDuyetGDK"><i class="app-menu__icon fal fa-syringe"></i><span class="app-menu__label">Phê duyệt giấy đăng ký</span></a></li>
            <li><a class="app-menu__item" href="/Dashboard" id="ThongKe"><i class="app-menu__icon fal fa-file-contract"></i><span class="app-menu__label">Thống kê</span></a></li>
            <li><a class="app-menu__item" href="/Dashboard" id="GCN"><i class="app-menu__icon fal fa-file-certificate"></i><span class="app-menu__label">Giấy chứng nhận</span></a></li>
            <li class="treeview">
                <a class="app-menu__item" name="QuanLyDTC" href="#" data-toggle="treeview"><i class="app-menu__icon fal fa-map-marker-alt"></i><span class="app-menu__label">Điểm tiêm chủng</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item QuanLyDTC" href="/Dashboard/QuanLyDTC">Quản lý điểm tiêm chủng</a></li>
                    <li><a class="treeview-item ThemLoVaccine" href="/Dashboard/ThemLoVaccine"> Thêm lô vắc xin</a></li>
                </ul>
            </li>
            <li><a class="app-menu__item" href="/Dashboard" id="PSL"><i class="app-menu__icon fal fa-tags"></i><span class="app-menu__label">Danh mục phiếu sàng lọc</span></a></li>
            <li><a class="app-menu__item" href="/Dashboard" id="Vaccine"><i class="app-menu__icon fal fa-shield-virus"></i><span class="app-menu__label">Thông tin vắc xin</span></a></li>


        </ul>
    </aside>
    <div class="alert popup-alert alert-success" role="alert" id="alertDialog">
        This is a warning alert—check it out!
    </div>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><span href="/Dashboard" id="breadcumbSubMenuItem">Tổng quan</span></li>
                <li class="breadcrumb-item"><a href="/Dashboard" id="breadcumbMenuItem">Tổng quan</a></li>
            </ul>
        </div>
        @RenderBody()
    </main>
    <div class="d-none">
        <span id="menuId">@Model.MenuId</span>
        <span id="menuName">@Model.MenuName</span>
        <span id="subMenuName">@Model.SubMenuName</span>
    </div>

    <div class="window_lock_background window_loading_screen" id="windowLoadingScreen">
        <div class="lds-ellipsis">
            <div></div><div></div><div></div><div></div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/dashboard/js/main.js"></script>
    <script src="~/Scripts/dashboard/js/plugins/select2.min.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/Scripts/dashboard/js/plugins/pace.min.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <!-- Datatable plugin-->
    <script src="~/Scripts/dashboard/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dashboard/js/plugins/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.3/i18n/vi.json"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    @RenderSection("dashboardJS", required: false)
</body>
</html>